@model IEnumerable<WineTravelBlog.Models.WineCategory>

<h2>Wine Categories</h2>
<hr />
<ol>
    @foreach (var category in Model)
    {
        <li>
            <ul>
                <li>Category: @Html.DisplayFor(modelItem => category.Name)</li>
                @{ 
                    int counter = 1;
                }
                @foreach(var refinement in category.Refinements)
                {
                    <p>Refinement @counter: @refinement.Name</p>
                    counter++;
                }
            </ul>
        </li>
    }
</ol>

@Html.ActionLink("Back home", "Index")